body {
    overflow: hidden;
    background-image: radial-gradient(circle at center, black, rgb(30, 29, 29), black);
}

#cave {
    width: 1587px;
    height: 926px;
    background: no-repeat center url("Cave_Outline.png");
}

#Playerhp {
    color: green;
}

#Enemyhp {
    color: red;
}